<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.home">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RatingDetails"
            android:label="@string/title_activity_rating_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PaymentDetail"
            android:label="@string/title_activity_payment_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OrderDetails"
            android:label="@string/title_activity_order_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditOrder"
            android:label="@string/title_activity_edit_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdateCustomer"
            android:label="@string/title_activity_update_customer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BuyNow"
            android:label="@string/title_activity_buy_now"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddItem"
            android:label="@string/title_activity_add_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Laptop"
            android:label="@string/title_activity_laptop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Mobile"
            android:label="@string/title_activity_mobile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewUser"
            android:label="@string/title_activity_new_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Sign"
            android:label="@string/title_activity_sign"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".User"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Contact"
            android:label="@string/title_activity_contact"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Rating"
            android:label="@string/title_activity_rating"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cart"
            android:label="@string/title_activity_cart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Payment"
            android:label="@string/title_activity_payment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Item"
            android:label="@string/title_activity_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>